@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');



.form {
    max-width: 40vw;
}

.registrationPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.is-rounded {
    max-height: 30vw;
    max-width: 30vw;
}
.is-rounded:hover {
    transform: scale(1.1);
}
.profilePage {
    height: 60vh;
}

.profileCard {
    width: 50vw;
}

.margin-nav {
    margin-top: 100px;
}

.calendarWrap {
    width: 50vw;
    justify-content: space-evenly;
}

.dateBox {
    cursor: pointer;
    margin: 0.1rem;
    display: flex;
    flex-direction: column;
}